@using HodlCoin.Client.HodlCoinImpl;
@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    @*<div class="sidebar">
         <NavMenu /> 
    </div>*@

    <main>
        <div class="top-row auth px-4" style="background-color: rgba(0,0,0,0.00); border-bottom: unset;">
            <div style="float: right">
                <MudStack Row=true Style="align-items: center;">
                    @if (!@isConnected)
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ConnectWallet">Connect wallet</MudButton>
                    }
                    else
                    {
                        <MudText>@hodlCoinBalanceText</MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="DisconnectWallet">Disconnect wallet</MudButton>
                    }
                </MudStack>
               
            </div>
            
        </div>

        <article class="content px-4" style="height: calc(100vh - 3.5rem - 2vh);">
            @Body
        </article>
    </main>
</div>

@code {
    bool isConnected = false;
    string hodlCoinBalanceText = "";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _= SetUIbasedOnWalletStatus();
        }
    }

    private async Task SetUIbasedOnWalletStatus()
    {
        //Check if connected
        isConnected = await Wallet.IsWalletConnected(JS, localStorage);
        Console.WriteLine($"Wallet connected = {isConnected}");

        List<string> coinTexts = new List<string>();

        if(isConnected)
        {
            //get balance of all hodlTokens
            foreach (HodlTokenInfo entry in Parameters.tokens)
            {
                var balance = await Wallet.GetBalance(JS, entry.tokenId);
                if (balance > 0) coinTexts.Add($"{(balance / Math.Pow(10, entry.decimals)).ToString()} {entry.name}");
            }

            hodlCoinBalanceText = string.Join(" | ", coinTexts);
        }

        StateHasChanged();
    }

    private async void ConnectWallet()
    {
        await Wallet.ConnectWallet(JS, localStorage);
        await SetUIbasedOnWalletStatus();
    }

    private async void DisconnectWallet()
    {
        await Wallet.DisconnectWallet(JS, localStorage);
        await SetUIbasedOnWalletStatus();
    }
}
